{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "plugins": [ "@typescript-eslint" ],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "overrides": [],
  "parserOptions": { "ecmaVersion": "latest" },
  "rules": {
    "no-constant-condition": ["error", { "checkLoops": false }],
    "curly": [ "error", "multi-line", "consistent" ],
    "import/extensions": [ "error", "always" ],
    "no-template-curly-in-string": "error",
    "no-use-before-define": "error",
    "no-unused-vars": [ "error" ],
    "no-duplicate-case": "error",
    "no-throw-literal": "error",
    "prefer-const": [ "warn" ],
    "no-self-compare": "error",
    "no-unreachable": "error",
    "no-console": "error",
    "sort-vars": "error",
    "no-empty": "error",
    "no-undef": "error"
  }
}
